[Match]
Virtualization=container
Name=host0

[Network]
DHCP=no
LinkLocalAddressing=yes
LLDP=yes
EmitLLDP=customer-bridge
Address={{ ansible_host }}/24
Gateway=172.17.0.1
DNS=1.1.1.1

[DHCP]
UseTimezone=yes